<p>reporter works!</p>

<!--
Column names:{{ chartData.columnNames }}
<br/>
Data:{{ chartData.data }}
<br/>
-->
<h1>Editor</h1>
<chart-editor></chart-editor>
<google-chart #editable
  [title]="chartInfo.title"
  [type]="chartInfo.type"
  [data]="chartData.data"
  [columns]="chartData.columnNames"
  [options]="chartInfo.options"
>
</google-chart>
<button (click)="editChart(editable)">Edit</button>

<!--
<br/>
<h1>Dashboard</h1>
<dashboard [columns]="chartData.columnNames" [data]="chartData.data">
  <control-wrapper [for]="dashboardChart1" [type]="filterType" [options]="options"></control-wrapper>
  <google-chart #editable #dashboardChart1 type="Bar" [width]="300" [height]="300"> </google-chart>
  <button (click)="editChart(editable)">Edit</button>
</dashboard>
-->
<h4>reporter endend</h4>
